* {
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 10px;
    font-size: 43px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

h3 {
    border-bottom: #24baa0 6px solid;
    width: 60%;
    height: 30px;
    margin: 10px;
}

h4 {
    border-bottom: #24baa0 6px solid;
    font-size: 25px;
    width: 300px;
    height: 35px;
    margin: 10px 10px 20px 10px;
}

h5 {
    color: #24baa0;
    margin: 10px;
    font-size: 30px;
}

header {
    background-color: black;
}

.content {
    width: 1200px;
    margin: auto;
}

span {
    color: #24baa0;
}

header section.menu {
    margin: auto;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    }

header section.menu nav > ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
}

header section.menu nav ul > li {
    list-style: none;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    height: 50px;
    display: flex;
}

header section.menu ul.aboutLevel1 {
    display: none;
    margin: 0px;
    padding: 10px;
}

header section.menu ul.aboutLevel1 li {
    z-index: 1;
    background-color: black;
    padding: 10px;
    height: 30px;
}

header section.menu li:hover > ul {
    display: block;
    width: 140px;
    height: 100px;
    position: absolute;
    font-size: 18px;
    padding: 0px;
    top: 45px;
    z-index: 1;
}

header section.menu li:hover > ul:before {
    z-index: -1;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: black;
    position: relative;
    top: 15px;
    left: 50px;
    transform: rotate(45deg);
}

section.banner {
    height: 500px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #efefef, #e9e9e9, #e2e2e2, #dcdcdc);
    display: flex;
}

section.banner article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

section.banner article div.bannerRightSide {
    width: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.showMore {
    background-color: #24baa0;
    width: 200px;
    height: 50px;
    margin: 20px;
    align-self: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-size: 23px;
    align-self: center;
}

.whiteBelt {
    width: 100%;
    background-color: rgba(	255, 255, 255,0.6);
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

section.middle {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

section.middle article {
    width: 300px;
}

section.middle article.clair {
    background-image: url("../images/box1_img.jpg");
    width: 329px;
    height: 225px;
    display: flex;
    align-items: flex-end;
    }

section.middle article.margarita {
    background-image: url("../images/box2_img.jpg");
    width: 329px;
    height: 225px;
    display: flex;
    align-items: flex-end;
}

section.middle article.find {
    display: flex;
    width: 329px;
    flex-direction: column;
    border:  solid 2px #d0d0d2;
    padding: 25px;
}

section.middle article.find p {
    color: #aaa9ad;
    font-size: 15px;
}

section.prices {
    background-color: #efeff0;
    padding: 35px;
}

section div.priceList {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

section div.priceList article{
     border: #DEDBDB solid 1px;
     background-color: #FAFAFA;
     display: flex;
     flex-direction: column;
     min-width: 350px;
     justify-content: space-between;
}

section div.priceList article:hover{
    border: #24baa0 solid 1px;
    background-color:#24baa0;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    justify-content: space-between;
    color: #ffffff;
}

section div.priceList article:hover div.upper_part h5{
    color: #ffffff;
}

section div.priceList article:hover div.upper_part div.circle{
    background-color: #24baa0;
    border-color: #24baa0;

}

section div.priceList article:hover div.upper_part div.circle:before{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #24baa0;
}

section div.priceList article:hover div.upper_part div.price{
    border-color: #24baa0;
    color: #24baa0;
}

section div.priceList article:hover div.upper_part div.priceListAttributes div:nth-child(2n-1){
    background-color: #F7F0F4;
}

section div.priceList article:hover div.upper_part div.priceListAttributes div:nth-child(2n){
    background-color: #cccccc;
}

section div.priceList article:hover div.bottom_part a{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #24baa0;
}

section div.priceList article div.upper_part {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    position: relative;
    top:-40px;
}

section div.priceList article div.upper_part div {
    margin-bottom: 10px;
    margin-top: 10px;
}

section div.priceList article div.upper_part div.price {
    width: 130px;
    height: 130px;
    border: #DEDBDB solid 1px;
    border-radius: 130px 130px 130px 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #A8A8A8;
}

section div.priceList article div.upper_part div.priceText {
    font-size: 35px;
    padding-left: 15px;
    margin: 0;
}

section div.priceList article div.upper_part div.priceText sup {
    vertical-align: super;
    font-size: 20px;
}

section div.priceList article div.upper_part div.currency {
    margin: 0;
    padding: 0;
}

section div.priceList article div.upper_part div.priceListAttributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #A8A8A8;
}

section div.priceList article div.upper_part div.priceListAttributes div:nth-child(2n-1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    min-width: 350px;
    height: 40px;
    margin: 0px;
}

section div.priceList article div.upper_part div.priceListAttributes div:nth-child(2n) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F0F4;
    min-width: 350px;
    height: 40px;
    margin: 0px;
}

section div.priceList article div.bottom_part{
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
}

section div.priceList article div.bottom_part a {
    background-color: #24baa0;
    width: 150px;
    height: 50px;
    color: #ffffff;
    border: #24baa0 2px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

section div.priceList article div.upper_part div.circle{
    border: #DEDBDB solid 1px;
    background-color: #FAFAFA;
    width: 50px;
    height: 50px;
    content: " ";
    position: relative;
    border-radius: 50px;
    align-self: center;
    z-index: 1;
}

section div.priceList article div.upper_part div.circle:before{
    display: flex;
    border: #DEDBDB solid 1px;
    background-color: #aaa9ad;
    width: 25px;
    height: 25px;
    content: " ";
    border-radius: 25px;
    align-self: center;
    text-align: center;
    margin: auto;
    position: relative;
    top: 10px;
    z-index: 2;
}

section.contact {
    padding: 35px;
}

section.contact form {
    display: flex;
    justify-content: space-between;
}

section.contact form div.leftSide {
    display: flex;
    flex-direction: column;
    width: 60%;
}

section.contact form div.leftSide input{
    border: #24baa0 1px solid;
    margin: 10px;
    height: 80px;
    padding: 15px;
    font-size: 30px;
}

section.contact form div.leftSide textarea{
    border: #24baa0 1px solid;
    margin: 10px;
    padding: 15px;
    font-size: 30px;
    font-family: Roboto;
}

section.contact form div.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    justify-content: center;
}

section.contact form div.rightSide img {
    margin: 15px;
}


section.contact form div.rightSide label {
    font-size: 25px;
    color: #aaa9ad;
    display: block;
    position: relative;
    left: 60px;
    padding-left: 55px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.contact form div.rightSide label input {
    position: absolute;
    top: 15px;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

section.contact form div.rightSide label span.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border: #24baa0 2px solid;
    border-radius: 5px;
}

section.contact form div.rightSide label input:hover ~ span.checkmark {
    background-color: #F7F0F4;
}

section.contact form div.rightSide label input:checked ~ span.checkmark {
    background-color: #ffffff;
}

.checkmark:after {
    content: "✔";
    position: absolute;
    display: none;
}

section.contact form div.rightSide label input:checked ~ span.checkmark:after {
    display: block;
}

.container .checkmark:after  {
    font-size: 35px;
    padding-left: 8px;
}

section.contact form div.rightSide input {
    height: 50px;
    width: 50px;
}

section.contact form div.rightSide div.buttonMessage {
    background-color: #24baa0;
    width: 300px;
    height: 50px;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 23px;
}

footer.bottom {
    display: flex;
    height: 150px;
    align-items: center;
    color: #A8A8A8;
    font-size: 20px;
}

footer.bottom div.leftSide {
    width: 810px;
    padding-left: 48px;
}

footer.bottom div.rightSide {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}
